<div ng-controller="ContentController">
	<div class="content">
		<div class="container">
			<h2>Employee</h2>
			<form>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="search by name" ng-model="search">
				</div>
			</form>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							<h4>Name</h4>
						</th>
						<th>
							<h4>Age</h4>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | filter: {Name:search}">
						<td>{{employee.Name | uppercase}}</td>
						<td>{{employee.Age}}</td>
					</tr>
				</tbody>
			</table>

			<h2>{{ 'HEADLINE' | translate }}</h2>
			<p>{{ 'INTRO_TEXT' | translate }}</p>

			<button ng-click="changeLanguage('en')">english</button>
			<button ng-click="changeLanguage('de')">german</button>
		</div>
	</div>
</div>