
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #662d91;
}

h4, h5 {
    font-weight: 300;
}

body div, body a {
    transition: all 0.3s ease-out;
}

.main {
	
}
.primary{
    background: #F16138;
}
    
.navbar-headercls{
    width: 100%;
}
.header-title{
    margin-left: 12% !important;
}

.logo-imgcls{
    width: 25%;
    margin-top: 2%
}

.navbar-footercls{
    width: 100%;
    text-align: center;
}



.content {
	width: 100% !important;
    margin-top: 50px;
    position: fixed;
    padding: 25px;
}

.gridtable {
    width: 80%;
}

